<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="modal">
  <div class="modal" id="modalDeleteMov">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Apagar Laboratório</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <h4 class="text-danger">
            <strong>Confirma exclusão dessa movimentação?</strong>
          </h4>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" id="apagarEquipamento" data-dismiss="modal">Confirmar</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        </div>

      </div>
    </div>
  </div>
</th:block>
</body>
</html>