<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="modal">
    <div class="modal" id="modal_TrocarSenha">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Trocar Senha</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <input id="idUsuario" hidden="hidden">
                    <!-- Senha antiga -->
                    <p class="text-semibold text-main">Senha Atual</p>
                    <input id="senhaAtual" name="senhaAtual" type="password">
                    <p></p>
                    <br>
                    <!-- Nova Senha -->
                    <p class="text-semibold text-main">Nova Senha</p>
                    <input id="novaSenha" name="novaSenha" type="password">
                    <p></p>
                    <br>
                    <!-- Confirmação de nova senha -->
                    <p class="text-semibold text-main">Confirmar Nova Senha</p>
                    <input id="confirmacaoSenha" name="confirmacaoSenha" type="password">
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="trocaSenha" data-dismiss="modal">Confirmar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
    <script>
        function constructUrlChangePassword(url) {
            var value = url.split('/')[1];
            return value + '/api/perfil-usuario';
        }

        function builder(id, senhaAtual, novaSenha, confirmacaoSenha) {
            var dto = {
                id: id,
                senhaAtual: senhaAtual,
                novaSenha: novaSenha,
                confirmacaoSenha: confirmacaoSenha
            };
            return dto;
        }

        $('#trocaSenha').click(function () {
            try {
                var id = $('#idUsuario').val().toString();
                var senhaAtual = $('#senhaAtual').val().toString();

                var novaSenha = $('#novaSenha').val().toString();
                var confirmacaoSenha = $('#confirmacaoSenha').val().toString();

                var url = constructUrlChangePassword(window.location.toString());

                var dto = builder(id, senhaAtual, novaSenha, confirmacaoSenha);

                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    url: url,
                    dataType: 'json',
                    data: JSON.stringify(dto),
                    success: function (json) {
                        if (json.success == 'true') {
                            window.location.reload();
                            $('.msg').append('<p class="text-success">' + json.msg + '</p>');
                        }
                    },
                    error: function (json) {
                        obj = json.responseJSON;

                        if (obj.error == 'true') {
                            $('.msg').append('<br/><br/><p class="text-danger">' + obj.senhaAtual + '</p>');
                            return;
                        }

                        if (obj.senhaAtual != null) {
                            $('.msg').append('<p class="text-danger">' + obj.senhaAtual + '</p>');
                        }

                        if (obj.novaSenha != null) {
                            $('.msg').append('<p class="text-danger erro">' + obj.novaSenha + '</p>');
                        }

                        if (obj.confirmacaoSenha) {
                            $('.msg').append('<p class="text-danger">' + obj.confirmacaoSenha + '</p>');
                        }
                    }
                });
            } catch (err) {
            }
        });
    </script>
</th:block>
</body>
</html>