<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/templateLogin}">
<head>
    <th:block layout:fragment="title">
        <title>SAGI Basic SENAI | Login</title>
    </th:block>
</head>
<body>
<th:block layout:fragment="content">
    <div class="mar-ver pad-btm">
        <h1 class="h3">SAGI | SENAI</h1>
    </div>
    <form th:action="@{/login}" th:autocomplete="on" th:method="POST">
        <th:block th:if="${resetada}">
            <p><span class="alert alert-success">Senha resetada com sucesso!</span></p>
        <br/>
        </th:block>
        <th:block th:if="${loginError}">
            <p><span class="alert alert-danger">Usuário ou senha inválido!</span></p>
        <br/>
        </th:block>
        <div class="form-group">
            <input type="text" class="form-control" required=""
                   placeholder="Usuário" name="username" autofocus="">
        </div>
        <div class="form-group">
            <input type="password" required="" name="password"
                   class="form-control" placeholder="Senha">
        </div>
        <div class="checkbox pad-btm text-left">
            <input id="demo-form-checkbox" class="magic-checkbox"
                   type="checkbox" name="remember-me"> <label
                for="demo-form-checkbox">Lembrar Usuário</label>
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" name="${_csrf.parameterName}"
                   value="${_csrf.token}"/>
        </div>
        <button class="btn btn-primary btn-lg btn-block">Entrar</button>
    </form>
    </div>
    <div class="pad-all">
        <a th:href="@{/esqueci-minha-senha}" class="btn btn-link mar-rgt">Esqueceu a senha?</a> <a
            th:href="@{/cadastro-usuario}" class="btn btn-link mar-lft">Criar nova conta</a>
    </div>
</th:block>
</body>
</html>