<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/templateLogin}">
<head>
    <th:block layout:fragment="title">
        <title>SAGI Basic SENAI | Nova Senha</title>
    </th:block>
</head>
<th:block layout:fragment="content">

    <div class="mar-ver pad-btm">
        <span class="h3">Nova Senha</span>
    </div>

    <form class="form-signin text-left" th:object="${dto}" th:method="POST" th:action="@{/nova-senha}">
        <div class="form-group">
            <h6>Nova Senha</h6>
            <input type="password" class="form-control" th:field="*{senha}" placeholder="Nova Senha" name="novaSenha"
                   required>
            <br>
        </div>

        <div class="form-group">
            <h6>Confirmar Senha</h6>
            <input type="password" class="form-control" th:field="*{confirmacaoSenha}" placeholder="Confirme a Senha" name="confirmacaoSenha" required>
            <input hidden="hidden" th:field="*{token}" name="token">
        </div>
        <button class="btn btn-primary btn-lg btn-block">Trocar Senha</button>
        <br>
    </form>
</th:block>
</body>
</html>