<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/template}">
<body>
	<th:block layout:fragment="content">
	
			<div class="row">
		        <div class="col-xs-12">
		            <div class="panel">
		                <div class="panel-heading">
		                    <h3 class="panel-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Solicitações de cadastro</font></font></h3>
		                </div>
						<th:block th:if="${not #strings.isEmpty(msg)}">
							<span class="alert alert-success" th:text="${msg}"></span>
						</th:block>
		                <div class="panel-body">
	   	
		   					<div class="col-sm-10">
						
								<th:block th:each="userDto : ${usuariosDto}">
							        <!--Inicio do painel-->
							        <!--===================================================-->
							        <div class="panel panel-bordered-primary panel-primary ">
							            <div class="panel-heading">
							                <h3 class="panel-title">Solicitação</h3>
							            </div>
							            <div class="panel-body">
							                <div class="row">
						                        <div class="col-sm-6">
						                            <p class="text-bold">Nome:</p>
						                            <p class="text-semibold" th:text="${userDto.nome}"></p>
						                        </div>
						                        <div class="col-sm-6">
						                            <p class="text-bold">Data</p>
						                            <p class="text-semibold" th:text="${{userDto.dataCriacao}}"></p>
						                        </div>
						                        <div class="col-sm-6">
						                            <p class="text-bold">E-mail</p>
						                            <p class="text-semibold" th:text="${userDto.email}"></p>
						                        </div>
						                    </div>
						                    	<div class="col-sm-6">
								            	<a class="btn btn-lg btn-default btn-hover-success" th:href="@{/admin/solicita-cadastro/permite/usuario/{idUsuario}(idUsuario=${userDto.id})}">Permitir
								            		<i class="psi-like-2"></i>
								            	</a>
								                <a class="btn btn-lg btn-default btn-hover-danger" th:href="@{/admin/solicitacao-cadastro/rejeita/usuario/{idUsuario}(idUsuario=${userDto.id})}">Nao permitir
								                	<i class="psi-unlike-2"></i>
								                </a>
								            	</div>
							            </div>
							        </div>
						        </th:block>
						        <!--===================================================-->
						        <!--Final do painel -->
						    </div>
					    </div>
	   				</div>
	   			</div>
	   		 </div>
	   		
	</th:block>
</body>
</html>