<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/fragments/template}">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<th:block layout:fragment="content">
		<div class="jumbotron container-fluid" style="background-color: #FFFFFF;">
			<form class="form-signin" th:method="POST" th:object="${equipamentoDto}" th:action="@{/equipamento/cadastro-equipamento}"> <!-- preencher o método submit -->				
				<div class="row">
					<div class="col-lg-12">
						<div class="row">
							<th:block th:if="${not #maps.isEmpty(errors)}">
								<p th:if="${#maps.containsKey(errors, 'laboratorio')}">
									<span class="alert alert-danger" th:text="${errors.get('laboratorio')}"></span>
								</p>
								<br/>

								<p th:if="${#maps.containsKey(errors, 'nomeEquipamento')}">
									<span class="alert alert-danger" th:text="${errors.get('nomeEquipamento')}"></span>
								</p>
								<br/>

								<p th:if="${#maps.containsKey(errors, 'valor')}">
									<span class="alert alert-danger" th:text="${errors.get('valor')}"></span>
								</p>
								<br/>
								<p th:if="${#maps.containsKey(errors, 'descricao')}">
									<span class="alert alert-danger" th:text="${errors.get('descricao')}"></span>
								</p>
								<br/>
							</th:block>
							<div class="col-lg-4">
                                <h6>Laboratório</h6>
								<select name="laboratorio" id="dropLaboratorio" class="form-control" >
									<option value="0">Selecione um Laboratório</option>
	                            	<option th:each="lab : ${laboratoriosDto}" th:value="${lab.id}" th:text="${lab.localizacao}"></option>
                                </select>
							</div>
							<div class="col-lg-8">
								<h6>Nome do Equipamento</h6>
								<input class="form-control" type="text" th:field="*{nomeEquipamento}" name="nomeEquipamento">
							</div>
						</div>
					</div>
					<div class="col-lg-12">
						<div class="row">
							<div class="col-lg-4">
								<h6>Código de Patrimônio</h6>
								<input class="form-control" type="number" th:field="*{codigoPatrimonio}" th:name="@{codigoPatrimonio}">
							</div>
							<div class="col-lg-4">
								<h6>Valor</h6>
								<input class="form-control" type="number" pattern="[0-9]+([\,][0-9]+)?" th:field="*{valor}" th:name="@{valor}">
							</div>
							<div class="col-lg-4">
								<h6>Data de Aquisição</h6>
								<input class="form-control" type="date" th:field="*{{dataAquisicao}}" name="dataAquisicao">
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-lg-12">
                        <h6>Descrição</h6>
                        <textarea rows="5" th:field="*{descricao}" name="descricao" class="form-control"></textarea>
					</div>
				</div>

				<div class="row">
					<div class="col-lg-12">
						&nbsp;
					</div>
				</div>


				<div class="row">
					<div class="col-lg-12">
						&nbsp;
					</div>
				</div>


				<div class="row col-lg-12">
					<div class="col-lg-6">
						<button class="btn btn-lg btn-rounded btn-success fa fa-plus" type="submit"><i></i> Cadastrar</button>
						<a class="btn btn-lg btn-rounded btn-danger" th:href="@{/equipamento}" value="Consultar"><i class="fa fa-search"></i> Cancelar</a>
					</div>
				</div>
			</form>
		</div>
	</th:block>
</body>
</html>