<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/template}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-bordered-mint">
                <div class="panel-heading">
                    <h3 class="panel-title"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">Laboratório</font></font></h3>
                </div>
                <div class="panel-body">
                    <form class="form-signin" th:method="POST" th:action="indexEquipamento">

                        <input type="hidden" name="input[token]" id="token" value="{{ form_token() }}">

                        <div class="row">
                            <div class="col-lg-12">
                                <p th:if="${success eq true}"><span
                                        class="alert alert-success">Laboratório editado com sucesso!</span></p>
                                <p th:if="${successDelete eq true}">
                                    <span class="alert alert-success" th:text="${msg}"></span>
                                </p>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <h6>Data</h6>
                                        <input class="form-control" type="text" readonly="" id="data_cadastro"
                                               value="14/03/2019" name="input[acolhido_data]">
                                    </div>
                                    <div class="col-lg-4">
                                        <h6>Hora</h6>
                                        <input class="form-control" type="text" readonly="" id="time" value="18:40"
                                               name="input[acolhido_hora]">
                                    </div>
                                    <div class="col-lg-4">
                                        <h6>Usuário</h6>
                                        <input class="form-control" type="text" readonly="" value="Elvis Presley"
                                               name="input[acolhido_system_user]">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <h6>Laboratório</h6>
                                        <input class="form-control" type="text" id="nome_lab" name="nome_lab">
                                    </div>
                                    <div class="col-lg-4">
                                        <h6>Localização</h6>
                                        <input class="form-control" type="text" id="localizacao" name="localizacao">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                &nbsp;
                            </div>
                        </div>

                        <div class="row col-lg-12">
                            <div class="col-lg-6">
                                <th:block th:if="${#httpSession.getAttribute('authorization') eq true}">
                                    <a th:href="@{/laboratorio/cadastro-laboratorio}"
                                       class="btn btn-lg btn-rounded btn-success fa fa-plus" name="btn_novo"
                                       id="btn_novo"><i></i> Novo</a>
                                </th:block>
                                <button class="btn btn-lg btn-rounded btn-primary" type="submit" name="btn_localizar"><i
                                        class="fa fa-search"></i> Pesquisar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-bordered-mint">
                <div class="panel-heading">
                    <h3 class="panel-title"><font style="vertical-align: inherit;"><font
                            style="vertical-align: inherit;">Laboratório</font></font></h3>
                </div>
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-sm-2 text-xs-center">
                                <label class="control-label">Filtre por</label>
                                <div class="input-group">
                                    <select id="demo-foo-filter-status" class="form-control">
                                        <option value="">Todos</option>
                                        <option value="">Cimatec 1</option>
                                        <option value="">Cimatec 2</option>
                                        <option value="">Cimatec 3</option>
                                        <option value="">Cimatec 4</option>
                                        <option value="">Outros</option>
                                    </select>
                                    <span class="input-group-btn">
					                    <button class="btn btn-mint" type="button">Procure</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            &nbsp;
                        </div>
                        <table class="table table-hover table-lg table-bordered">
                            <thead>
                            <tr>
                                <th hidden="hidden" colspan="1" scope="col">Id</th>
                                <th colspan="1" scope="col">Localização</th>
                                <th colspan="1" scope="col">Edifício</th>
                                <th colspan="1" scope="col">Andar</th>
                                <th colspan="1" scope="col">Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:id="lab + ${dto.id}" th:each="dto : ${laboratoriosDto}">
                                <td hidden="hidden" colspan="1" scope="col" th:text="${dto.id}"></td>
                                <td colspan="1" scope="col" th:text="${dto.localizacao}"></td>
                                <td colspan="1" scope="col" th:text="${dto.edificio.getEdificio()}"></td>
                                <td colspan="1" scope="col" th:text="${dto.andar}"></td>
                                <td colspan="1" scope="col">
                                    <p>
                                        <th:block th:if="${#httpSession.getAttribute('authorization')}">
                                            <a class="btn btn-primary btn-sm"
                                               th:href="@{/laboratorio/editar-laboratorio/{idLaboratorio}(idLaboratorio=${dto.id})}"><i
                                                    class="fas fa-edit"></i> Editar</a>
                                            <a th:id="btnDeletar + ${dto.id}" type="button"
                                               class="btn btn-danger btn-sm delete"
                                               th:attr="onclick=|deletar('${dto.id}')|"><i
                                                    class="fas fa-trash"></i> Excluir
                                            </a>
                                        </th:block>
                                    </p>
                                </td>
                                <th:block th:replace="laboratorio/modal_delete.html :: modal">
                                </th:block>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
<script type="text/javascript">
    function deletar(idLaboratorio) {
        $('#modal-deletar-laboratorio-id').val(idLaboratorio);
        $('#modal-body').html();
        $('#modal-delete').modal("show");
    }
</script>