<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/template}">
<head>
    <meta charset="UTF-8">
</head>
<body>
<th:block layout:fragment="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-bordered-mint">
                <div class="panel-heading">
                    <h3 class="panel-title">Laboratórios</h3>
                </div>
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                    <a th:href="@{/laboratorio/cadastro-laboratorio}" class="btn btn-info">Cadastrar novo Laboratório
                                    <i class="icon-lg icon-fw pli-add"></i>
                                    </a>
                            </div>
                        </div>
                        <hr class="new-section-sm">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Nome laboratório</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Edifício</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Andar</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-2 text-center">
                                    <button class="btn btn-success btn-block">Aplicar filtros</button>
                                </div>
                            </div>
                        </div>
                        <hr class="new-section-sm">
                        <table class="table table-hover table-lg table-bordered">
                            <thead>
                            <tr>
                                <th hidden="hidden" colspan="1" scope="col">Id</th>
                                <th colspan="1" scope="col">Nome do laboratório</th>
                                <th colspan="1" scope="col">Edifício</th>
                                <th colspan="1" scope="col">Andar</th>
                                <th colspan="1" scope="col">Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:id="lab + ${dto.id}" th:each="dto : ${laboratoriosDto}">
                                <td hidden="hidden" colspan="1" scope="col" th:text="${dto.id}"></td>
                                <td colspan="1" scope="col" th:text="${dto.localizacao}"></td>
                                <td colspan="1" scope="col" th:text="${dto.edificio.getEdificio()}"></td>
                                <td colspan="1" scope="col" th:text="${dto.andar}"></td>
                                <td colspan="1" scope="col">
                                    <p>
                                        <th:block th:if="${#httpSession.getAttribute('authorization')}">
                                            <a class="btn btn-primary btn-sm"
                                               th:href="@{/laboratorio/editar-laboratorio/{idLaboratorio}(idLaboratorio=${dto.id})}"><i
                                                    class="fas fa-edit"></i> Editar</a>
                                            <a th:id="btnDeletar + ${dto.id}" type="button"
                                               class="btn btn-danger btn-sm delete"
                                               th:attr="onclick=|deletar('${dto.id}')|"><i
                                                    class="fas fa-trash"></i> Excluir
                                            </a>
                                        </th:block>
                                    </p>
                                </td>
                                <th:block th:replace="laboratorio/modal_delete.html :: modal">
                                </th:block>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
<script type="text/javascript">
    function deletar(idLaboratorio) {
        $('#modal-deletar-laboratorio-id').val(idLaboratorio);
        $('#modal-body').html();
        $('#modal-delete').modal("show");
    }
</script>