<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="modal">
    <div class="modal" id="modal-delete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Apagar Laboratório</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <h4 class="text-danger">
                        <strong>Confirma exclusão desse Laboratório?</strong>
                    </h4>
                </div>

                <div class="modal-footer">
                    <input hidden="hidden" id="modal-deletar-laboratorio-id" type="hidden"
                           name="id"/>
                    <button class="btn btn-danger" id="apagarLaboratorio" data-dismiss="modal">Confirmar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>

            </div>
        </div>
    </div>
    <script>
        function constructUrl(url, id) {
            value = url.split('/')[2];
            return value + '/api/laboratorios/' + id;
        }

        $('#apagarLaboratorio').click(function (e) {
            e.preventDefault();

            var id = $('#modal-deletar-laboratorio-id').val().toString();

            var url = constructUrl(window.location.toString(), id);

            $.ajax({
                type: "DELETE",
                url: url,
                dataType: 'json',
                contentType: "application/json",
                success: function (json) {
                    window.location.reload();
                    console.log(json.successDelete);

                    if (json.successDelete == 'true') {
                        $(document).ready(function () {
                            $('.new-section-sm').append('<p class="text-success">' + json.msg + '</p>');
                        });
                    }
                },
                error: function (json) {
                    if (json.statusCode() == 400) {
                        $('.new-section-sm').append('<p class="text-danger">' + json.idLaboratorio + '</p>');
                    }
                }
            });
        });
    </script>
</th:block>
</body>
</html>